body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ffffff;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://raw.githubusercontent.com/DevilGlitch/Daerk/main/visualAssets/css/pxfuel.jpg');
  background-size: cover;
  opacity: 0.5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.login-container {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

label {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  color: #ffffff;
  background: #1a1919;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

input[type="submit"] {
  background-color: #7b0000;
  color: #2e2e2e;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #950000;
}
